/* CSS Document */

@media (min-width: 768px)  and (max-width: 1199px){
	header .container {
		max-width: 100% !important;
	}
	
}

@media (max-width: 1199px){
	
	.general-info-block .address{
		display: none !important;
	}
	
	
	.slider-section .slider-items .slider-item-content-block .slider-item-info{
		width: 50%;
	}
	
	
	.section_gioi_thieu {
    	background: url(../imagesUpload/bg_gt.png) no-repeat right -140px top, url(../img/bg_gt.jpg);
	}
}

@media (min-width: 1121px) {
	header .navigation .nav-block{
		display: block !important;
	}
}

@media (max-width: 1120px) {
	header .navigation .nav-block{
		display: none;
	}
		
	header .navigation .nav-block{
		position: absolute !important;
		background-color: #fafafa !important;
		left: 0 !important;
		width: 100% !important;
		top: 100% !important;
		margin-top: 50px !important;
		-webkit-box-shadow: -1px 4px 5px 0px rgba(161,161,161,1);
		-moz-box-shadow: -1px 4px 5px 0px rgba(161,161,161,1);
		box-shadow: -1px 4px 5px 0px rgba(161,161,161,1);
		padding-bottom: 5px;
	}
	
	header .navigation .nav-block ul.nav-ul{
		list-style: none;
		list-style-position: inside;
		padding: 0;
		margin: 0;
		margin-top: 5px;
		width: 100%;
		float: none;
	}
	
	header .navigation .nav-block ul.nav-ul > li{
		display: block;
		width:  100%;
		position: relative;
		overflow: hidden;
	}

	header .navigation .nav-block ul.nav-ul > li > a{
		color:  #333;
		padding: 10px 12px 6px;
		font-size: 20px;
		margin-left: 0;
		transition: height 0.3s;
		transition-delay: 1s;
		display: block;
	}
	
	header .navigation .nav-block ul.nav-ul > li > a > i{
		display: inline-block;
		margin-right: 8px;
		color: #c12f32 !important;
	}
	
	header .navigation .nav-block ul.nav-ul > li:hover > a{
		color:  #fafafa;
	}
	
	header .navigation .nav-block ul.nav-ul > li:hover > a > i{
		color:  #fafafa !important;
	}
	
	header .navigation .nav-block ul.nav-ul > li .sub-item-ctn{
		position: relative;
		background-color: #fafafa;
		width: 100%;
		left: 0 !important;
		display: none !important;
		height: 0;
	}
	
	
	header .navigation a.nav-toggle-btn{
		z-index: 1;
		opacity: 1;
	}
	
	.slider-section .slider-items .slider-item-content-block .slider-item-info{
		width: 50%;
	}
	
	.section_gioi_thieu {
    	background: url(../imagesUpload/bg_gt.png) no-repeat right -150px top, url(../img/bg_gt.jpg);
	}
}

@media (max-width: 900px) {
	.general-info-block .address, .general-info-block .email{
		display: none !important;
	}
	
	header{		
    	background-color: rgb(49, 46, 46);
	}
	
	header .navigation a.nav-toggle-btn{
		right: 15px;
	}
	
	div.content-page{
		margin-top: 100px;
	}
	
	
	.slider-section .slider-items .slider-item-content-block .slider-item-info{
		width: 70%;
	}
	
	.slider-section .bx-wrapper .bx-pager{
		display: none !important;
	}
	
	.copyright {
        text-align: center
    }
    .goon {
        text-align: center
    }
}

@media (max-width: 991px) {
	.section_gioi_thieu{
		background: none;
		background-image: url(../img/bg_gt.jpg) !important;
	}
	
	
	.listproject.newsitem-block .list-news-block .construc-item {
		height: 360px !important;
		overflow: hidden;
	}
	
	.listproject.newsitem-block .list-news-block .construc-item .project-info-wrap{
		height: 130px !important;
	}
}

@media (min-width: 768px){
	.newspaper-item-ctn{
		height: 390px;
		overflow: hidden;
		margin-bottom: 20px;
		position: relative;
	}
	
	.newspaper-item-ctn .desc{
		height: 145px !important;
		padding-bottom: 10px;
		overflow: hidden;
	}
	
	.newspaper-item-ctn .desc:after{
		content: '';
		display: block;
		background-color: #f4f4f4;
		height: 100%;
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 15px;
		right: 15px;
	}
}

@media (max-width: 767px) {
	header .bg_logo {
		height: 60px;
		width: 150px;
		background-size: auto 100%;
		background-position: right;
		top: 0;
	}
	
	header .logo-ctn {
		position: absolute;
		left: 10px;
		top: 15px;
	}
	
	header .logo-ctn img.logo {
		height: 75px;
	}
	
	header .company-name {
		display: none !important;
	}
	
	.bx-wrapper .bx-controls-direction a {
    	top: 30% !important;
		display: none;
	}
	
	.slider-section .slider-items .slider-item-content-block .slider-item-info{
		display: block!important;
    	padding: 10px 20px;
		position: relative;
		width: 100%;
		background-color: #505050 !important;
	}
	
	.bx-viewport{
		background-color: #505050 !important;
	}
	
	.slider-section .slider-items .slider-item-content-block .slider-item-info h4 {
		margin: 0;
		margin-bottom: 3px;
		font-size: 18px;
	}
	
	.slider-section .slider-items .slider-item-content-block .slider-item-info > div {
		font-size: 12px;
	}
	
	.owl-public-carousel .owl-nav{
		display: none;
	}
	
	.project-highlight .highlight-project-info {
		opacity: 1;
	}
	
	.articles-news-ctn{
		padding-bottom: 0px;
		margin-bottom: 20px;
    	background-color: #ececec;
	}
	
	.articles-news-ctn .title,
	.articles-news-ctn .desc{
		height: auto;
		padding: 0 15px;
	}
		
	.content-section{
		margin-top: 80px; 
	}
	
	.map-ctn{
		padding-top: 40%;
	}

	.listproject.newsitem-block .list-news-block .construc-item {
		height: auto !important;
		overflow: hidden;
	}
	
	.listproject.newsitem-block .list-news-block .construc-item .project-info-wrap{
		height: auto !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .col-md-30p {
        width: 30%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-md-70p {
        width: 70%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
