

<div class="newsitem-block project-highlight" style="display: none;">
	<div class="container pos-relative">
		<h2 class="block-title text-secondary-font">DỰ ÁN TIÊU BIỂU</h2>
		<div>
			<ul class="nav nav-tabs">
				<li><a href="#tab_all" data-toggle="tab" aria-expanded="true">Tất cả</a></li>
				<?php  foreach ($queryDuAn->result() as $row) { ?>
						<li>
							<a href="#tab_<?php echo $row->ID_GR; ?>" data-toggle="tab" aria-expanded="false">
								<?php echo $row->NAME_GR; ?>
							</a>
						</li>
						
				<?php  } ?>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="tab_all">
			<div class="project-list">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-3 col-xs-12 col-sm-6 project-item-ctn">
							<a href="#" class="pos-relative">
								<img src="img/cd-background-2.jpg" />
								<div class="highlight-project-info">
									<h4 class="text-center">Nhà Thờ Thánh Giuse Lao Công- Giáo Xứ Sơn Trà</h4>
									<div class="mota_project">
										<ul>
											<li><strong><i class="fa fa-user-secret"></i>Chủ đầu tư: </strong>Công ty CP Y khoa Gia Đình</li>
											<li><strong><i class="fa fa-map-marker"></i>Địa điểm thi công:</strong>&nbsp;Nguyễn Hữu Thọ,&nbsp;Đà Nẵng</li>
											<li><strong><i class="fa fa-calendar"></i>Thời gian thi công:</strong> 2013</li>
										</ul>
									</div>
									<div class="text-center">
										<div class="btn btn-viewdetail">Xem chi tiết</div>
									</div>
								</div>
							</a>
						</div>				
						<div class="col-md-3 col-xs-12 col-sm-6 project-item-ctn">
							<a href="#"  class="pos-relative">
								<img src="img/cd-background-2.jpg" />
								<div class="highlight-project-info">
									<h4 class="text-center">Nhà Thờ Thánh Giuse Lao Công- Giáo Xứ Sơn Trà</h4>
									<div class="mota_project">
										<ul>
											<li><strong><i class="fa fa-user-secret"></i>Chủ đầu tư: </strong>Công ty CP Y khoa Gia Đình</li>
											<li><strong><i class="fa fa-map-marker"></i>Địa điểm thi công:</strong>&nbsp;Nguyễn Hữu Thọ,&nbsp;Đà Nẵng</li>
											<li><strong><i class="fa fa-calendar"></i>Thời gian thi công:</strong> 2013</li>
										</ul>
									</div>
									<div class="text-center">
										<div class="btn btn-viewdetail">Xem chi tiết</div>
									</div>
								</div>
							</a>
						</div>				
						<div class="col-md-3 col-xs-12 col-sm-6 project-item-ctn">
							<a href="#"  class="pos-relative">
								<img src="img/cd-background-2.jpg" />
								<div class="highlight-project-info">
									<h4 class="text-center">Nhà Thờ Thánh Giuse Lao Công- Giáo Xứ Sơn Trà</h4>
									<div class="mota_project">
										<ul>
											<li><strong><i class="fa fa-user-secret"></i>Chủ đầu tư: </strong>Công ty CP Y khoa Gia Đình</li>
											<li><strong><i class="fa fa-map-marker"></i>Địa điểm thi công:</strong>&nbsp;Nguyễn Hữu Thọ,&nbsp;Đà Nẵng</li>
											<li><strong><i class="fa fa-calendar"></i>Thời gian thi công:</strong> 2013</li>
										</ul>
									</div>
									<div class="text-center">
										<div class="btn btn-viewdetail">Xem chi tiết</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-6 project-item-ctn">
							<a href="#"  class="pos-relative">
								<img src="img/cd-background-2.jpg" />
								<div class="highlight-project-info">
									<h4 class="text-center">Nhà Thờ Thánh Giuse Lao Công- Giáo Xứ Sơn Trà</h4>
									<div class="mota_project">
										<ul>
											<li><strong><i class="fa fa-user-secret"></i>Chủ đầu tư: </strong>Công ty CP Y khoa Gia Đình</li>
											<li><strong><i class="fa fa-map-marker"></i>Địa điểm thi công:</strong>&nbsp;Nguyễn Hữu Thọ,&nbsp;Đà Nẵng</li>
											<li><strong><i class="fa fa-calendar"></i>Thời gian thi công:</strong> 2013</li>
										</ul>
									</div>
									<div class="text-center">
										<div class="btn btn-viewdetail">Xem chi tiết</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-6 project-item-ctn">
							<a href="#"  class="pos-relative">
								<img src="img/cd-background-2.jpg" />
								<div class="highlight-project-info">
									<h4 class="text-center">Nhà Thờ Thánh Giuse Lao Công- Giáo Xứ Sơn Trà</h4>
									<div class="mota_project">
										<ul>
											<li><strong><i class="fa fa-user-secret"></i>Chủ đầu tư: </strong>Công ty CP Y khoa Gia Đình</li>
											<li><strong><i class="fa fa-map-marker"></i>Địa điểm thi công:</strong>&nbsp;Nguyễn Hữu Thọ,&nbsp;Đà Nẵng</li>
											<li><strong><i class="fa fa-calendar"></i>Thời gian thi công:</strong> 2013</li>
										</ul>
									</div>
									<div class="text-center">
										<div class="btn btn-viewdetail">Xem chi tiết</div>
									</div>
								</div>
							</a>
						</div>				
						<div class="col-md-3 col-xs-12 col-sm-6 project-item-ctn">
							<a href="#"  class="pos-relative">
								<img src="img/cd-background-2.jpg" />
								<div class="highlight-project-info">
									<h4 class="text-center">Nhà Thờ Thánh Giuse Lao Công- Giáo Xứ Sơn Trà</h4>
									<div class="mota_project">
										<ul>
											<li><strong><i class="fa fa-user-secret"></i>Chủ đầu tư: </strong>Công ty CP Y khoa Gia Đình</li>
											<li><strong><i class="fa fa-map-marker"></i>Địa điểm thi công:</strong>&nbsp;Nguyễn Hữu Thọ,&nbsp;Đà Nẵng</li>
											<li><strong><i class="fa fa-calendar"></i>Thời gian thi công:</strong> 2013</li>
										</ul>
									</div>
									<div class="text-center">
										<div class="btn btn-viewdetail">Xem chi tiết</div>
									</div>
								</div>
							</a>
						</div>				
						<div class="col-md-3 col-xs-12 col-sm-6 project-item-ctn">
							<a href="#"  class="pos-relative">
								<img src="img/cd-background-2.jpg" />
								<div class="highlight-project-info">
									<h4 class="text-center">Nhà Thờ Thánh Giuse Lao Công- Giáo Xứ Sơn Trà</h4>
									<div class="mota_project">
										<ul>
											<li><strong><i class="fa fa-user-secret"></i>Chủ đầu tư: </strong>Công ty CP Y khoa Gia Đình</li>
											<li><strong><i class="fa fa-map-marker"></i>Địa điểm thi công:</strong>&nbsp;Nguyễn Hữu Thọ,&nbsp;Đà Nẵng</li>
											<li><strong><i class="fa fa-calendar"></i>Thời gian thi công:</strong> 2013</li>
										</ul>
									</div>
									<div class="text-center">
										<div class="btn btn-viewdetail">Xem chi tiết</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-6 project-item-ctn">
							<a href="#"  class="pos-relative">
								<img src="img/cd-background-2.jpg" />
								<div class="highlight-project-info">
									<h4 class="text-center">Nhà Thờ Thánh Giuse Lao Công- Giáo Xứ Sơn Trà</h4>
									<div class="mota_project">
										<ul>
											<li><strong><i class="fa fa-user-secret"></i>Chủ đầu tư: </strong>Công ty CP Y khoa Gia Đình</li>
											<li><strong><i class="fa fa-map-marker"></i>Địa điểm thi công:</strong>&nbsp;Nguyễn Hữu Thọ,&nbsp;Đà Nẵng</li>
											<li><strong><i class="fa fa-calendar"></i>Thời gian thi công:</strong> 2013</li>
										</ul>
									</div>
									<div class="text-center">
										<div class="btn btn-viewdetail">Xem chi tiết</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php 
			foreach ($queryDuAn->result() as $row)
			{
			?>				
				<div class="tab-pane" id="tab_<?php echo $row->ID_GR; ?>">
					<?php echo $row->NAME_GR; ?>
				</div>
			<?php 
			}
		?>
	</div>
</div>